smarthome.json
[{"id":"71b279c9.40b498","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e1677f69.25802","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"994fffd.bc062","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"7c3a83fe.6b582c","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"546e16e6.12e548","type":"mqtt-broker","name":"","broker":"192.168.8.114","port":"1883","clientid":"test-client","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"85b43740.eff0f8","type":"telegram bot","botname":"@salwanaDoor_bot","usernames":"","chatids":"50753327","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"f5ecc7e5.e724a8","type":"telegrambot-config","botname":"salwanaDoor_bot","usernames":"","chatIds":" 50753327","pollInterval":"300"},{"id":"da21e7e5.825658","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#c0e4f2","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#c0e4f2","edited":true},"page-titlebar-backgroundColor":{"value":"#c0e4f2","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffffff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#c0e4f2","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a2807155.ba465","type":"ui_group","name":"Telegram","tab":"","disp":true,"width":"6","collapse":false},{"id":"1b2fb133.d4b8cf","type":"ui_tab","name":"Home","icon":"hoome","order":1,"disabled":false,"hidden":false},{"id":"ca6ad7c6.15a7e8","type":"ui_group","name":"Front","tab":"1b2fb133.d4b8cf","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ba37fd4.6558f","type":"ui_group","name":"Example Flow","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"be9ec98a.19dea8","type":"ui_spacer","name":"spacer","group":"ca6ad7c6.15a7e8","order":1,"width":"2","height":"1"},{"id":"149626a4.d25869","type":"ui_spacer","name":"spacer","group":"ca6ad7c6.15a7e8","order":1,"width":"2","height":"1"},{"id":"3fb2a3a2.7ede0c","type":"ui_spacer","name":"spacer","group":"ca6ad7c6.15a7e8","order":1,"width":"2","height":"1"},{"id":"1a1b7cff.9511b3","type":"mqtt-broker","name":"","broker":"192.168.1.167","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d14808a8.d291e8","type":"telegram bot","botname":"JkPi2","usernames":"","chatids":""},{"id":"e649966c.8c2af8","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57ff470b.93fdf8","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"11207769.c31889","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"cc5ed835.22b778","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"7aeeadaa.974ba4","type":"mqtt in","z":"71b279c9.40b498","name":"","topic":"COMMAND/#","qos":"1","datatype":"auto","broker":"546e16e6.12e548","nl":false,"rap":false,"x":110,"y":320,"wires":[["970f6d0a.971dc"]]},{"id":"8fa3e62e.447118","type":"link out","z":"71b279c9.40b498","name":"","links":["fc34130c.e201"],"x":855,"y":300,"wires":[]},{"id":"94b21ac4.69a568","type":"batch","z":"71b279c9.40b498","name":"","mode":"interval","count":10,"overlap":0,"interval":"1","allowEmptySequence":false,"topics":[],"x":453,"y":320,"wires":[["d8be310d.7bd07"]]},{"id":"caa643a3.a4bf8","type":"debug","z":"71b279c9.40b498","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":340,"wires":[]},{"id":"d8be310d.7bd07","type":"join","z":"71b279c9.40b498","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":573,"y":320,"wires":[["c7293911.695c98"]]},{"id":"970f6d0a.971dc","type":"function","z":"71b279c9.40b498","name":"Expand Payload","func":"/**\n * Merge topic and payload into the payload\n * so that we get something like 'COMMAND/SWITCH01: On'\n **/\n\n// Get the switch metadata\nconst switchLocations = global.get('switchLocations')\nconst switchId = msg.topic.replace('COMMAND/','')\nconst cmd = msg.payload.padStart(3)\n\nconst switchName = switchLocations[switchId] ? switchLocations[switchId].description : switchId\n\n//msg.payload = `${switchName}: ${msg.payload}`\nmsg.payload = `\\`${cmd} :: ${switchName}\\``\n\n// Also save the switch status in memory to allow replay\nlet cmdStatus = flow.get('cmdStatus') || {}\ncmdStatus[switchName] = msg.payload\nflow.set('cmdStatus', cmdStatus)\n\nmsg.topic = 'COMMAND'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":320,"wires":[["94b21ac4.69a568"]]},{"id":"c7293911.695c98","type":"function","z":"71b279c9.40b498","name":"Merge Payload","func":"/**\n * Join the payload array ready for sending to Telegram\n * Note that the Telegram output link also prepends the topic\n **/\n\nif ( msg.payload.length > 1 ) {\n    msg.topic = 'Current Switch Statuses'\n} else {\n    msg.topic = 'Switch Status Change'\n}\n\n//msg.payload = \"```&#160;\" + msg.payload.join(\"\\n\") + \"```\"\nmsg.payload = msg.payload.join(\"\\n\")\nmsg.parse_mode = 'Markdown'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":723,"y":320,"wires":[["caa643a3.a4bf8","8fa3e62e.447118"]]},{"id":"da068114.67f3d","type":"function","z":"71b279c9.40b498","name":"replay cache","func":"let cmdStatus = flow.get('cmdStatus') || {}\n\nfor (const switchName in cmdStatus) {\n  node.send( { topic: switchName, payload: cmdStatus[switchName] } )\n}","outputs":1,"noerr":0,"x":270,"y":400,"wires":[["4769a94b.16e8c8","94b21ac4.69a568"]]},{"id":"3840704b.a74d6","type":"telegram command","z":"71b279c9.40b498","name":"","command":"/lock","bot":"85b43740.eff0f8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":250,"y":560,"wires":[["19afbd7c.a73023","aea9131f.594ae"]],"outputLabels":["Authorised + Matches Command"]},{"id":"4769a94b.16e8c8","type":"debug","z":"71b279c9.40b498","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":400,"wires":[]},{"id":"f24ca1b5.78127","type":"comment","z":"71b279c9.40b498","name":"Bot Command List","info":"Use the `/setcommands` command in the botfather channel.\n\n```\nlights - Show the current status of all lights and switches\nswitches - Show the current status of all lights and switches\non - Turn on a switch, provide the switch number\noff - Turn off a switch, provide the switch number\nlight - Turn on and off lights at home\nswitch - Turn on and off switches at home\nhelp - Show help about how to use this bot\nh - Show help about how to use this bot\n```","x":90,"y":260,"wires":[]},{"id":"d8ed6b66.132f28","type":"telegram command","z":"71b279c9.40b498","name":"","command":"/help","bot":"85b43740.eff0f8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":90,"y":480,"wires":[["3b7b1d1c.5dac42"]],"outputLabels":["Authorised + Matches Command","Authorised - No command match"]},{"id":"6e5abe8a.8867b","type":"link out","z":"71b279c9.40b498","name":"Send simple response","links":["fc34130c.e201"],"x":435,"y":500,"wires":[]},{"id":"3b7b1d1c.5dac42","type":"function","z":"71b279c9.40b498","name":"Return help info","func":"msg.topic = 'Bot Help'\n\nmsg.parse_mode = 'HTML'\n\nmsg.payload = \"There are several commands to control the smart door, type '/' to see them.\\n\"\n\nmsg.payload += `\nLock the door : /lock\n\nUnlock the door : /unlock\n\nCurrent status of the door  : /status \n\nHelp info : /help & /h\n`\n\n//msg.payload += \"\\n```\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":500,"wires":[["6e5abe8a.8867b"]]},{"id":"6674974d.204dc8","type":"telegram command","z":"71b279c9.40b498","name":"","command":"/h","bot":"85b43740.eff0f8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":90,"y":540,"wires":[["3b7b1d1c.5dac42"]],"outputLabels":["Authorised + Matches Command","Authorised - No command match"]},{"id":"63441247.b3dd2c","type":"function","z":"71b279c9.40b498","name":"Set Telegram message options","func":"//{\"chatId\":202430638, \"type\":\"message\", \"text\":\"This is some text\"}\n//msg.payload.options = {parse_mode : \"Markdown\"}; // or HTML\n//// NB: The Family Knight group is connected to the IFTTT bot\n\nconst isObject = function (obj) {\n    // Lots of alternatives here: https://stackoverflow.com/questions/8511281/check-if-a-value-is-an-object-in-javascript\n    return Object.prototype.toString.call(obj) === '[object Object]';\n}\n\nif ( msg.topic === '' ) msg.topic = 'Node-RED Bot'\n\nconst payload = msg.payload\n\nif ( ! isObject(msg.payload) ) {\n    msg.payload = {}\n}\n\nmsg.payload.type = 'message'\nif ( ! msg.payload.options ) msg.payload.options = {}\n\nif ( !msg.payload.chatId && msg.chatId ) msg.payload.chatId = msg.chatId\nif ( !msg.payload.parse_mode && msg.parse_mode ) msg.payload.options.parse_mode = msg.parse_mode\n    \nif ( msg.replyTo ) msg.payload.options.reply_to_message_id = msg.replyTo\n\nmsg.payload.content = msg.topic + '\\n' + payload\n\nreturn msg;\n","outputs":"1","noerr":0,"x":490,"y":160,"wires":[["fbef0ed1.a86fa","30edc504.37d7ca"]],"outputLabels":["New Msg (for Telegram)"]},{"id":"fbef0ed1.a86fa","type":"telegram sender","z":"71b279c9.40b498","name":"","bot":"85b43740.eff0f8","haserroroutput":false,"outputs":1,"x":750,"y":160,"wires":[["9bb3a031.6e2c1"]]},{"id":"4ab6f1a4.f08bc","type":"debug","z":"71b279c9.40b498","name":"Telegram Sender ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":140,"wires":[]},{"id":"30edc504.37d7ca","type":"debug","z":"71b279c9.40b498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":120,"wires":[]},{"id":"fc34130c.e201","type":"link in","z":"71b279c9.40b498","name":"Telegram Out to salwanaDoor_bot","links":["6e5abe8a.8867b","7a86d056.2b092","8fa3e62e.447118","bbde7f10.75"],"x":18,"y":140,"wires":[["47fd4e58.07945"]]},{"id":"7f031d68.365754","type":"link in","z":"71b279c9.40b498","name":"Telegram Out to HomeDoor Group","links":[],"x":18,"y":180,"wires":[["b2e8e74.495ed18"]]},{"id":"9bb3a031.6e2c1","type":"switch","z":"71b279c9.40b498","name":"","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":910,"y":160,"wires":[["4ab6f1a4.f08bc"],["7ad33c7.344c9c4"]],"outputLabels":["Error",null]},{"id":"7ad33c7.344c9c4","type":"debug","z":"71b279c9.40b498","name":"Telegram Sender","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":180,"wires":[]},{"id":"47fd4e58.07945","type":"change","z":"71b279c9.40b498","name":"chatId: salwanaDoor_bot","rules":[{"t":"set","p":"chatId","pt":"msg","to":"50753327","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":140,"wires":[["63441247.b3dd2c"]]},{"id":"b2e8e74.495ed18","type":"change","z":"71b279c9.40b498","name":"chatId:HomeDoorGroup","rules":[{"t":"set","p":"chatId","pt":"msg","to":"-535161257","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":180,"wires":[["63441247.b3dd2c"]]},{"id":"a2e92135.4988f","type":"telegram command","z":"71b279c9.40b498","name":"","command":"/status","bot":"85b43740.eff0f8","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":130,"y":400,"wires":[[],[]]},{"id":"19afbd7c.a73023","type":"function","z":"71b279c9.40b498","name":"Door is lock","func":"msg.topic = 'Currently the'\n\nmsg.parse_mode = 'HTML'\nmsg.payload = \"Door is lock\"\n\n\n\n//msg.payload += \"\\n```\"\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":580,"wires":[["bbde7f10.75"]]},{"id":"bbde7f10.75","type":"link out","z":"71b279c9.40b498","name":"","links":["fc34130c.e201"],"x":895,"y":600,"wires":[]},{"id":"f45083cc.dee0f","type":"rpi-gpio out","z":"71b279c9.40b498","name":"Solenoid Door Lock","pin":"12","set":false,"level":"1","freq":"85","out":"pwm","x":890,"y":700,"wires":[]},{"id":"c78902dc.1bce1","type":"inject","z":"71b279c9.40b498","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":210,"y":620,"wires":[["aea9131f.594ae","19afbd7c.a73023"]]},{"id":"6d319c11.97c754","type":"inject","z":"71b279c9.40b498","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":90,"y":760,"wires":[["d07deb04.59c538","c508cf50.3ad5d"]]},{"id":"c508cf50.3ad5d","type":"function","z":"71b279c9.40b498","name":"Door is unlock","func":"msg.topic = 'Currently the '\n\nmsg.parse_mode = 'HTML'\nmsg.payload = \"Door is unlock\"\n\n\n\n//msg.payload += \"\\n```\"\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":720,"wires":[["7a86d056.2b092","f45083cc.dee0f"]]},{"id":"f59c5cb9.6b8f2","type":"comment","z":"71b279c9.40b498","name":"Conect to device","info":"","x":820,"y":640,"wires":[]},{"id":"aea9131f.594ae","type":"switch","z":"71b279c9.40b498","name":"","property":"payload","propertyType":"flow","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":600,"wires":[["19afbd7c.a73023","f45083cc.dee0f"]]},{"id":"7a86d056.2b092","type":"link out","z":"71b279c9.40b498","name":"","links":["fc34130c.e201"],"x":835,"y":820,"wires":[]},{"id":"efa5b427.5d4288","type":"telegram command","z":"71b279c9.40b498","name":"","command":"/unlock","bot":"85b43740.eff0f8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":130,"y":680,"wires":[["d07deb04.59c538","c508cf50.3ad5d"]],"outputLabels":["Authorised + Matches Command"]},{"id":"d07deb04.59c538","type":"switch","z":"71b279c9.40b498","name":"","property":"payload","propertyType":"flow","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":720,"wires":[["c508cf50.3ad5d"]]},{"id":"9307a2b2.5ed5b","type":"comment","z":"71b279c9.40b498","name":"Home Interface","info":"","x":80,"y":1340,"wires":[]},{"id":"8cd27b0f.d647c8","type":"inject","z":"71b279c9.40b498","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1440,"wires":[["5ca07386.d975cc","461ea485.1922fc"]]},{"id":"5ca07386.d975cc","type":"debug","z":"71b279c9.40b498","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":1440,"wires":[]},{"id":"50720100.b0514","type":"ui_text","z":"71b279c9.40b498","group":"ca6ad7c6.15a7e8","order":0,"width":"2","height":"1","name":"Today Date","label":"Date: ","format":"{{msg.payload}}","layout":"row-center","x":430,"y":1480,"wires":[]},{"id":"cee99209.0b66c","type":"comment","z":"71b279c9.40b498","name":"Date and day","info":"","x":250,"y":1380,"wires":[]},{"id":"461ea485.1922fc","type":"moment","z":"71b279c9.40b498","name":"","topic":"","input":"","inputType":"msg","inTz":"Asia/Kuala_Lumpur","adjAmount":"1","adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"","outputType":"msg","outTz":"Asia/Kuala_Lumpur","x":220,"y":1500,"wires":[["50720100.b0514"]]},{"id":"5be6fc55.6364c4","type":"mqtt in","z":"994fffd.bc062","name":"","topic":"COMMAND/#","qos":"1","datatype":"auto","broker":"546e16e6.12e548","nl":false,"rap":false,"x":110,"y":320,"wires":[["d8c29232.8d454"]]},{"id":"1c50fc9d.295b33","type":"link out","z":"994fffd.bc062","name":"","links":["2870b6f7.6af79a"],"x":855,"y":300,"wires":[]},{"id":"67f04a41.24e254","type":"batch","z":"994fffd.bc062","name":"","mode":"interval","count":10,"overlap":0,"interval":"1","allowEmptySequence":false,"topics":[],"x":453,"y":320,"wires":[["9d2d094c.662078"]]},{"id":"5cdcf84f.9c09b8","type":"debug","z":"994fffd.bc062","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":340,"wires":[]},{"id":"9d2d094c.662078","type":"join","z":"994fffd.bc062","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":573,"y":320,"wires":[["de2fa137.a2017"]]},{"id":"d8c29232.8d454","type":"function","z":"994fffd.bc062","name":"Expand Payload","func":"/**\n * Merge topic and payload into the payload\n * so that we get something like 'COMMAND/SWITCH01: On'\n **/\n\n// Get the switch metadata\nconst switchLocations = global.get('switchLocations')\nconst switchId = msg.topic.replace('COMMAND/','')\nconst cmd = msg.payload.padStart(3)\n\nconst switchName = switchLocations[switchId] ? switchLocations[switchId].description : switchId\n\n//msg.payload = `${switchName}: ${msg.payload}`\nmsg.payload = `\\`${cmd} :: ${switchName}\\``\n\n// Also save the switch status in memory to allow replay\nlet cmdStatus = flow.get('cmdStatus') || {}\ncmdStatus[switchName] = msg.payload\nflow.set('cmdStatus', cmdStatus)\n\nmsg.topic = 'COMMAND'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":320,"wires":[["67f04a41.24e254"]]},{"id":"de2fa137.a2017","type":"function","z":"994fffd.bc062","name":"Merge Payload","func":"/**\n * Join the payload array ready for sending to Telegram\n * Note that the Telegram output link also prepends the topic\n **/\n\nif ( msg.payload.length > 1 ) {\n    msg.topic = 'Current Switch Statuses'\n} else {\n    msg.topic = 'Switch Status Change'\n}\n\n//msg.payload = \"```&#160;\" + msg.payload.join(\"\\n\") + \"```\"\nmsg.payload = msg.payload.join(\"\\n\")\nmsg.parse_mode = 'Markdown'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":723,"y":320,"wires":[["5cdcf84f.9c09b8","1c50fc9d.295b33"]]},{"id":"1adbce39.532122","type":"function","z":"994fffd.bc062","name":"replay cache","func":"let cmdStatus = flow.get('cmdStatus') || {}\n\nfor (const switchName in cmdStatus) {\n  node.send( { topic: switchName, payload: cmdStatus[switchName] } )\n}","outputs":1,"noerr":0,"x":270,"y":400,"wires":[["f56de2c1.2ee38","67f04a41.24e254"]]},{"id":"8f244e98.11637","type":"telegram command","z":"994fffd.bc062","name":"","command":"/lock","bot":"85b43740.eff0f8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":210,"y":620,"wires":[["2873bfaf.2bba2"]],"outputLabels":["Authorised + Matches Command"]},{"id":"f56de2c1.2ee38","type":"debug","z":"994fffd.bc062","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":400,"wires":[]},{"id":"b82d5585.115c38","type":"comment","z":"994fffd.bc062","name":"Bot Command List","info":"Use the `/setcommands` command in the botfather channel.\n\n```\nlights - Show the current status of all lights and switches\nswitches - Show the current status of all lights and switches\non - Turn on a switch, provide the switch number\noff - Turn off a switch, provide the switch number\nlight - Turn on and off lights at home\nswitch - Turn on and off switches at home\nhelp - Show help about how to use this bot\nh - Show help about how to use this bot\n```","x":90,"y":260,"wires":[]},{"id":"b99be5e9.fd4c58","type":"telegram command","z":"994fffd.bc062","name":"","command":"/help","bot":"85b43740.eff0f8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":90,"y":480,"wires":[["6df8db78.01a614"]],"outputLabels":["Authorised + Matches Command","Authorised - No command match"]},{"id":"6fd49add.547fe4","type":"link out","z":"994fffd.bc062","name":"Send simple response","links":["2870b6f7.6af79a"],"x":435,"y":500,"wires":[]},{"id":"6df8db78.01a614","type":"function","z":"994fffd.bc062","name":"Return help info","func":"msg.topic = 'Bot Help'\n\nmsg.parse_mode = 'HTML'\n\nmsg.payload = \"There are several commands to control the smart door, type '/' to see them.\\n\"\n\nmsg.payload += `\nLock the door : /lock\n\nUnlock the door : /unlock\n\nCurrent status of the door  : /status \n\nHelp info : /help & /h\n`\n\n//msg.payload += \"\\n```\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":500,"wires":[["6fd49add.547fe4"]]},{"id":"a5e6574f.ee4978","type":"telegram command","z":"994fffd.bc062","name":"","command":"/h","bot":"85b43740.eff0f8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":90,"y":540,"wires":[["6df8db78.01a614"]],"outputLabels":["Authorised + Matches Command","Authorised - No command match"]},{"id":"26d83dde.66d342","type":"function","z":"994fffd.bc062","name":"Set Telegram message options","func":"//{\"chatId\":202430638, \"type\":\"message\", \"text\":\"This is some text\"}\n//msg.payload.options = {parse_mode : \"Markdown\"}; // or HTML\n//// NB: The Family Knight group is connected to the IFTTT bot\n\nconst isObject = function (obj) {\n    // Lots of alternatives here: https://stackoverflow.com/questions/8511281/check-if-a-value-is-an-object-in-javascript\n    return Object.prototype.toString.call(obj) === '[object Object]';\n}\n\nif ( msg.topic === '' ) msg.topic = 'Node-RED Bot'\n\nconst payload = msg.payload\n\nif ( ! isObject(msg.payload) ) {\n    msg.payload = {}\n}\n\nmsg.payload.type = 'message'\nif ( ! msg.payload.options ) msg.payload.options = {}\n\nif ( !msg.payload.chatId && msg.chatId ) msg.payload.chatId = msg.chatId\nif ( !msg.payload.parse_mode && msg.parse_mode ) msg.payload.options.parse_mode = msg.parse_mode\n    \nif ( msg.replyTo ) msg.payload.options.reply_to_message_id = msg.replyTo\n\nmsg.payload.content = msg.topic + '\\n' + payload\n\nreturn msg;\n","outputs":"1","noerr":0,"x":490,"y":160,"wires":[["5ef7efbc.34918","9731f01c.05e13"]],"outputLabels":["New Msg (for Telegram)"]},{"id":"5ef7efbc.34918","type":"telegram sender","z":"994fffd.bc062","name":"","bot":"85b43740.eff0f8","haserroroutput":false,"outputs":1,"x":750,"y":160,"wires":[["76a80207.bb336c"]]},{"id":"c408db78.8a6158","type":"debug","z":"994fffd.bc062","name":"Telegram Sender ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":140,"wires":[]},{"id":"9731f01c.05e13","type":"debug","z":"994fffd.bc062","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":120,"wires":[]},{"id":"2870b6f7.6af79a","type":"link in","z":"994fffd.bc062","name":"Telegram Out to salwanaDoor_bot","links":["6fd49add.547fe4","1c50fc9d.295b33","9c88a4c5.7e96f8","f0299936.2e94f8"],"x":18,"y":140,"wires":[["6af6e595.92c54c"]]},{"id":"5d4063c4.a5b49c","type":"link in","z":"994fffd.bc062","name":"Telegram Out to HomeDoor Group","links":[],"x":18,"y":180,"wires":[["d99ecaca.b692d8"]]},{"id":"76a80207.bb336c","type":"switch","z":"994fffd.bc062","name":"","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":910,"y":160,"wires":[["c408db78.8a6158"],["d62069fb.ba1b38"]],"outputLabels":["Error",null]},{"id":"d62069fb.ba1b38","type":"debug","z":"994fffd.bc062","name":"Telegram Sender","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":180,"wires":[]},{"id":"6af6e595.92c54c","type":"change","z":"994fffd.bc062","name":"chatId: salwanaDoor_bot","rules":[{"t":"set","p":"chatId","pt":"msg","to":"50753327","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":140,"wires":[["26d83dde.66d342"]]},{"id":"d99ecaca.b692d8","type":"change","z":"994fffd.bc062","name":"chatId:HomeDoorGroup","rules":[{"t":"set","p":"chatId","pt":"msg","to":"-535161257","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":180,"wires":[["26d83dde.66d342"]]},{"id":"91039e45.46cd9","type":"telegram command","z":"994fffd.bc062","name":"","command":"/status","bot":"85b43740.eff0f8","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":90,"y":400,"wires":[[],[]]},{"id":"6f06ca4f.c86e84","type":"function","z":"994fffd.bc062","name":"Door is lock","func":"msg.topic = 'Currently the:'\n\nmsg.parse_mode = 'HTML'\nmsg.payload = \"Door is lock\"\n\n\n\n//msg.payload += \"\\n```\"\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":580,"wires":[["9c88a4c5.7e96f8"]]},{"id":"9c88a4c5.7e96f8","type":"link out","z":"994fffd.bc062","name":"","links":["2870b6f7.6af79a"],"x":895,"y":600,"wires":[]},{"id":"f4706c10.08865","type":"rpi-gpio out","z":"994fffd.bc062","name":"Solenoid Door Lock","pin":"12","set":false,"level":"1","freq":"80","out":"pwm","x":870,"y":740,"wires":[]},{"id":"c4586759.7cdf38","type":"inject","z":"994fffd.bc062","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":230,"y":680,"wires":[["2873bfaf.2bba2"]]},{"id":"d3bfe3c7.5c218","type":"inject","z":"994fffd.bc062","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":90,"y":860,"wires":[["22963a5f.e4d8e6"]]},{"id":"bc0c9aaf.aa03a8","type":"function","z":"994fffd.bc062","name":"Door is unlock","func":"msg.topic = 'Currently the :'\n\nmsg.parse_mode = 'HTML'\nmsg.payload = \"Door is unlock\"\n\n\n\n//msg.payload += \"\\n```\"\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":860,"wires":[["f0299936.2e94f8","f4706c10.08865"]]},{"id":"43554c4c.1f6d64","type":"comment","z":"994fffd.bc062","name":"Conect to device","info":"","x":840,"y":660,"wires":[]},{"id":"2873bfaf.2bba2","type":"switch","z":"994fffd.bc062","name":"","property":"payload","propertyType":"flow","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":640,"wires":[["f4706c10.08865","6f06ca4f.c86e84"]]},{"id":"f0299936.2e94f8","type":"link out","z":"994fffd.bc062","name":"","links":["2870b6f7.6af79a"],"x":875,"y":880,"wires":[]},{"id":"fd3c124a.cf757","type":"telegram command","z":"994fffd.bc062","name":"","command":"/unlock","bot":"85b43740.eff0f8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":130,"y":780,"wires":[["22963a5f.e4d8e6"]],"outputLabels":["Authorised + Matches Command"]},{"id":"22963a5f.e4d8e6","type":"switch","z":"994fffd.bc062","name":"","property":"payload","propertyType":"flow","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":820,"wires":[["bc0c9aaf.aa03a8"]]},{"id":"e8560ba4.1c2e48","type":"mqtt in","z":"71b279c9.40b498","name":"","topic":"node/fingerprint-sensor:0/enroll/request","qos":"2","datatype":"auto","broker":"546e16e6.12e548","nl":false,"rap":false,"x":190,"y":920,"wires":[[]]},{"id":"6e27c1e3.e95bd","type":"inject","z":"71b279c9.40b498","name":"enroll fp","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"python example_enroll.py","payloadType":"env","x":130,"y":1280,"wires":[["2899d069.95c34","78fe9646.93f4c8"]]},{"id":"d207249b.afa0d8","type":"comment","z":"71b279c9.40b498","name":"FP sensor","info":"","x":90,"y":840,"wires":[]},{"id":"d6c118db.02a358","type":"pythonshell in","z":"71b279c9.40b498","name":"Enroll FP","pyfile":"/usr/share/doc/python-fingerprint/examples/example_enroll.py","virtualenv":"/usr/share/doc/python-fingerprint","continuous":false,"stdInData":false,"x":260,"y":2040,"wires":[["5d20f7fe.9ca818","983022c5.67cfe"]]},{"id":"31b2a9a9.1c4466","type":"debug","z":"71b279c9.40b498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":1080,"wires":[]},{"id":"c8e80e19.76a79","type":"mqtt in","z":"71b279c9.40b498","name":"","topic":"sensor","qos":"2","datatype":"auto","broker":"546e16e6.12e548","nl":false,"rap":true,"rh":0,"x":870,"y":980,"wires":[[]]},{"id":"f54b1599.0ab4e8","type":"comment","z":"71b279c9.40b498","name":"Cancel","info":"This inject will cancel any running fingerprint action.\nThe fingerprint node which was active will send a result == false and cancelled == true.","x":290,"y":1600,"wires":[]},{"id":"8fe03a3c.701fc8","type":"inject","z":"71b279c9.40b498","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"none","x":301,"y":1663,"wires":[[]]},{"id":"7729d72.f88d628","type":"inject","z":"71b279c9.40b498","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"none","x":170,"y":1890,"wires":[["5d20f7fe.9ca818"]]},{"id":"7e5a7a40.81a584","type":"debug","z":"71b279c9.40b498","name":"Verify Succeeded","active":true,"console":"false","complete":"payload","x":622,"y":1797,"wires":[]},{"id":"f8ba716.f07459","type":"debug","z":"71b279c9.40b498","name":"Enroll Failed","active":true,"console":"false","complete":"payload","x":470,"y":1974,"wires":[]},{"id":"d27d2cfc.2d82d","type":"debug","z":"71b279c9.40b498","name":"Verify Failed","active":true,"console":"false","complete":"payload","x":605,"y":1835,"wires":[]},{"id":"a3fc919d.5c037","type":"debug","z":"71b279c9.40b498","name":"Enroll Message","active":true,"console":"false","complete":"payload","x":479,"y":2013,"wires":[]},{"id":"983022c5.67cfe","type":"debug","z":"71b279c9.40b498","name":"Enroll Succeeded","active":true,"console":"false","complete":"payload","x":390,"y":2100,"wires":[]},{"id":"b1bd64f1.4e4298","type":"debug","z":"71b279c9.40b498","name":"Verify Message","active":true,"console":"false","complete":"payload","x":613,"y":1871,"wires":[]},{"id":"537ee357.ac811c","type":"inject","z":"71b279c9.40b498","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"none","x":195,"y":2308,"wires":[[]]},{"id":"634b3495.9cb4cc","type":"debug","z":"71b279c9.40b498","name":"Enroll Failed","active":true,"console":"false","complete":"payload","x":495,"y":2392,"wires":[]},{"id":"4332e15b.bccd2","type":"debug","z":"71b279c9.40b498","name":"Enroll Message","active":true,"console":"false","complete":"payload","x":504,"y":2431,"wires":[]},{"id":"a6cdbbfc.593248","type":"debug","z":"71b279c9.40b498","name":"Enroll Succeeded","active":true,"console":"false","complete":"payload","x":511,"y":2355,"wires":[]},{"id":"cc92597b.336da8","type":"debug","z":"71b279c9.40b498","name":"Identify Succeeded","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":969,"y":2168,"wires":[]},{"id":"9f4d7e.ff60b28","type":"debug","z":"71b279c9.40b498","name":"Identify Failed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":952,"y":2206,"wires":[]},{"id":"f69adb28.096528","type":"debug","z":"71b279c9.40b498","name":"Identify Message","active":true,"console":"false","complete":"payload","x":960,"y":2242,"wires":[]},{"id":"ef3a0eee.10c5f","type":"function","z":"71b279c9.40b498","name":"Enroll 3 Finger Then Identify","func":"if(msg.fingerprints == undefined)\n{\n\tmsg.fingerprints = new Array();\n}\n\nmsg.fingerprints[msg.fingerprints.length] = msg.payload.fingerprint;\n\nif(msg.fingerprints.length == 3) {\n\tmsg.payload = { fingerprints: msg.fingerprints };\n\tdelete msg.fingerprints;\n\treturn [ null, msg ];\n}\nelse {\n\treturn [ msg, null ];\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":503,"y":2169,"wires":[[],[]]},{"id":"abf7505a.5408b","type":"comment","z":"71b279c9.40b498","name":"Enroll - Verify","info":"This part of the flow enrolls one finger and calls verify with this finger.","x":182,"y":1823,"wires":[]},{"id":"aff29d56.500d6","type":"comment","z":"71b279c9.40b498","name":"Enroll - Identify","info":"This part enrolls three finger and calls identify with these finger.","x":205,"y":2231,"wires":[]},{"id":"5d20f7fe.9ca818","type":"serial out","z":"71b279c9.40b498","name":"","serial":"cc5ed835.22b778","x":250,"y":1960,"wires":[]},{"id":"71d112b3.5d0dcc","type":"debug","z":"71b279c9.40b498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":1220,"wires":[]},{"id":"78fe9646.93f4c8","type":"pythonshell in","z":"71b279c9.40b498","name":"Enroll FP","pyfile":"/usr/share/doc/python-fingerprint/examples/example_enroll.py","virtualenv":"/usr/share/doc/python-fingerprint/examples/","continuous":false,"stdInData":false,"x":500,"y":1360,"wires":[["2899d069.95c34"]],"inputLabels":["python3 example_enroll.py"],"info":"#!/usr/bin/env python\n# -*- coding: utf-8 -*-\n\n\"\"\"\nPyFingerprint\nCopyright (C) 2015 Bastian Raschke <bastian.raschke@posteo.de>\nAll rights reserved.\n\n\"\"\"\n\nimport time\nfrom pyfingerprint.pyfingerprint import PyFingerprint\n\n\n## Enrolls new finger\n##\n\n## Tries to initialize the sensor\ntry:\n    f = PyFingerprint('/dev/ttyUSB0', 57600, 0xFFFFFFFF, 0x00000000)\n\n    if ( f.verifyPassword() == False ):\n        raise ValueError('The given fingerprint sensor password is wrong!')\n\nexcept Exception as e:\n    print('The fingerprint sensor could not be initialized!')\n    print('Exception message: ' + str(e))\n    exit(1)\n\n## Gets some sensor information\nprint('Currently used templates: ' + str(f.getTemplateCount()) +'/'+ str(f.getStorageCapacity()))\n\n## Tries to enroll new finger\ntry:\n    print('Waiting for finger...')\n\n    ## Wait that finger is read\n    while ( f.readImage() == False ):\n        pass\n\n    ## Converts read image to characteristics and stores it in charbuffer 1\n    f.convertImage(0x01)\n\n    ## Checks if finger is already enrolled\n    result = f.searchTemplate()\n    positionNumber = result[0]\n\n    if ( positionNumber >= 0 ):\n        print('Template already exists at position #' + str(positionNumber))\n        exit(0)\n\n    print('Remove finger...')\n    time.sleep(2)\n\n    print('Waiting for same finger again...')\n\n    ## Wait that finger is read again\n    while ( f.readImage() == False ):\n        pass\n\n    ## Converts read image to characteristics and stores it in charbuffer 2\n    f.convertImage(0x02)\n\n    ## Compares the charbuffers\n    if ( f.compareCharacteristics() == 0 ):\n        raise Exception('Fingers do not match')\n\n    ## Creates a template\n    f.createTemplate()\n\n    ## Saves template at new position number\n    positionNumber = f.storeTemplate()\n    print('Finger enrolled successfully!')\n    print('New template position #' + str(positionNumber))\n\nexcept Exception as e:\n    print('Operation failed!')\n    print('Exception message: ' + str(e))\n    exit(1)\n\n"},{"id":"8fba3d15.a6144","type":"inject","z":"71b279c9.40b498","name":"sensor1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Open","payloadType":"str","x":120,"y":1120,"wires":[["9abc3a6.f536bc8"]]},{"id":"9abc3a6.f536bc8","type":"mqtt out","z":"71b279c9.40b498","name":"","topic":"sensor","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"546e16e6.12e548","x":370,"y":1120,"wires":[]},{"id":"91bff63c.07b778","type":"mqtt in","z":"71b279c9.40b498","name":"","topic":"sensor/#","qos":"0","datatype":"auto","broker":"546e16e6.12e548","nl":false,"rap":true,"rh":0,"x":130,"y":1220,"wires":[["71d112b3.5d0dcc","2899d069.95c34"]]},{"id":"2899d069.95c34","type":"serial out","z":"71b279c9.40b498","name":"sensor","serial":"cc5ed835.22b778","x":290,"y":1280,"wires":[]},{"id":"50f69a14.94d674","type":"serial request","z":"71b279c9.40b498","name":"","serial":"cc5ed835.22b778","x":590,"y":1080,"wires":[[]]}]